@media (min-width: 768px){
	.navbar-collapse .navbar-nav.navbar-left:first-child{
		margin-left: 0px;
	}
}

@media (min-width: 450px){
	#manage-doctor-assets #profile #doctor-properties{
		width:50%;
		padding-left: 80px;
	}
	
	#manage-doctor-assets #profile #doctor-image{
		width:50%;
	}
}

label{
	color: #66757f;
}

h1{
	padding-bottom: 10px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

.navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

.invalid-input{
	opacity: 0;
	height: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	background-color:#EEE;
    padding-left:6px;
    font-size:11px;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
    padding: 2px;
}

input.invalid  + .invalid-input{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
	height: auto;
}

.background{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	opacity: 0.9;
	z-index: -1;
}

.floating-container{
	overflow: hidden;
	padding: 0px 20px 10px 20px;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 4px 3px #DDD;
	max-width: 900px;
	margin: 0 auto;
}

.navbar{
	max-width: 900px;
	margin: 0 auto;
}

#login-page{
	width: 100%;
	height: 700px;
	position: relative;
}

#login-page .background{
	background-image: url('../img/dental-chair.jpg');
}

#login-page .info{
	margin: 0 auto;
	padding: 30px 20px 30px 20px;
	border-radius: 10px;
	max-width: 500px;
	height: 300px;
	background-color: #FFF;
	border: 1px solid #55ACEE;
	position: relative;
	top: 200px;
	box-shadow: 2px 2px 4px 3px #66757f;
}

#login-page .info h1{
	text-align:center;
}

#login-page .info input {
	width: 65%;
	margin: 0px auto;
}

#login-page .info label:first-child{
	padding-top: 15px;
}

#login-page .info label{
	width: 65%;
	margin: 0 auto;
	display: block;
}

#login-page .info button{
	margin: 30px auto;
	display: block;
	
}

#login-page .info .invalid-input{
	width: 65%;
	margin: 0 auto;
	display: block;
}

#manage-doctor-assets{
	display: none;
}

#manage-doctor-assets .doctor-tab-data{
	width: 100%;
	margin: 0 auto;
	padding: 61px 0px 50px 0px;
	display:none;
	background: #EEE;
}

#manage-doctor-assets .doctor-tab-data.active{
	display: block;
}

#manage-doctor-assets #profile input{
	display: none;
}

#manage-doctor-assets #profile label{
	padding-top: 15px;
	padding-left: 5px;
}

#manage-doctor-assets #profile .invalid-input{
	display: block;
}

#manage-doctor-assets #profile .glyphicon{
	cursor: hand;
	cursor: pointer;
}

#manage-doctor-assets #profile #doctor-properties, #manage-doctor-assets #profile #doctor-image{
	float: left;
}

#manage-doctor-assets #profile #doctor-properties h1{
	text-align: right;
}

#manage-doctor-assets #profile #doctor-image img{
	width: 100%;
}

#manage-doctor-assets #bookings {
	min-height: 600px;
}

#manage-doctor-assets #bookings .request-container{
	padding: 30px 0px 30px 0px;
}

#manage-doctor-assets #bookings .no-more-requests{
	display: none;
}

.request{
	width: 250px;
	color: white;
	border: 1px solid;
	float:left;
	margin-right: 15px;
	margin-bottom: 10px;
	background-color: #43ac6a;
	border-color: #3c9a5f;
}

.request.conflict{
	background-color: #e99002;
	border-color: #d08002;
}

.request.template{
	display: none;
}

.request .patient-name{
	text-align:right;
}

.request .patient-info {
	padding: 15px;
}

.request .booking-actions{
	width: 100%;
}

.request.conflict .accept-booking{
	display: none;
}

.request .reschedule-booking{
	display: none;
}

.request.conflict .reschedule-booking{
	display: table-cell;
}